/*
* ------------------------------------------------
* @name 2012
* @author Kytu (@kytu800)
* @maintainer RSChiang (@rschiang)
* @description
* Based on Kytu‘s original template of NTU Student
* Weekly, migrated and bug-fixed.
* ------------------------------------------------
*/

@import "reset";

.wrapper {
    width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 12px 6px rgba(1, 1, 1, 0.1);
    font-family: "微軟正黑體";

    .header {
        min-height: 100px;
        background-color: #252525;
        padding: 10px 5px 10px 5px;

        .editor {
            text-align: right;
        }

        .cover {
            text-align: center;
        }

        .date_eps {
            text-align: right;
            font-size: 12px;

            .date {
                color: white;
            }

            .eps {
                color: #0099ff;
            }
        }
    }

    .content {
        .box {
            padding-bottom: 20px;
        }

        .box_title {
            position: relative;
            width: 934px;
            height: 30px;
            left: -17px;
            text-align: center;
            background-image: url("assets/ribbon900px.png");
            background-repeat: no-repeat;
            background-position: center center;
            padding: 41px 0px 21px 0px;
        }

        .section {
            a {
                text-decoration: none;
            }

            &:hover {
                background-color: #e2eaff;
                cursor: pointer;
            }
        }

        .section.big {
            img.article_cover {
                width: 900px;
                display: block;
            }

            .article {
                padding: 12px 25px;
                color: #555555;
                font-size: 15px;

                strong {
                    font-size: 22px;
                    color: black;
                    font-weight: bolder;
                }
            }
        }

        .section.small {
            &:hover {
                background-image: url("assets/continue.png");
                background-repeat: no-repeat;
                background-position: 593px 192px;
            }

            img.article_cover {
                float: left;
                width: 410px;
                height: 255px;
            }

            .article {
                float: right;
                position: relative;
                display: ~"+inline-block";
                width: 440px;
                padding: 6px 25px 12px 25px;

                h1 {
                    margin-bottom: 10px;
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 30px;
                    color: black;
                    text-shadow: 0px 0px 1px #a7a7a7;
                }

                p {
                    font-size: 15px;
                    line-height: 22px;
                    text-indent: 44px;
                    color: #555555;
                }

                .author_from {
                    position: absolute;
                    top: 184px;
                    left: 25px;
                    height: 35px;
                }

                .author_name {
                    position: absolute;
                    top: 229px;
                    left: 25px;
                    color: #2d7eeb;
                    font-weight: bold;
                }
            }

            .clear {
                clear: both;
            }
        }
    }

    .footer {
        background-color: #252525;
        text-align: center;
        padding: 50px 0px;
        position: relative;

        a {
            margin: 0px 10px;
        }

        .designer {
            position: absolute;
            bottom: 6px;
            right: 3px;
        }
    }
}
