.weekly.home {
  background: #f9f9f9;
  color: #2b2b2b;
  font-family: Montserrat, Avenir, 'Source Han Sans TC', 'Pingfang TC', 'Microsoft Jhenghei', Arial, sans-serif;
}
.weekly.home > .sidebar {
  padding: 3em 4em;
}
@media only screen and (min-width: 1200px) {
  .weekly.home > .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4em;
    width: 25%;
  }
}
.weekly.home > .footer {
  padding: 2em 4em;
}
@media only screen and (min-width: 1200px) {
  .weekly.home > .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 3em 4em;
  }
}
.weekly.home .site.title {
  width: 20em;
}
.weekly.home .vendor.logo {
  width: 15em;
}
@media only screen and (min-width: 1200px) {
  .weekly.home {
    padding-left: 25%;
  }
}
@media only screen and (min-width: 1920px) {
  html,
  body {
    font-size: 21px;
    /* Zoom the entire page */
  }
}
img {
  height: auto;
  max-width: 100%;
}
