@import "variables";

// Login page layout
.weekly.login {
    height: 100%;

    > .grid {
        height: 100%;
        .column {
            max-width: 30em;
            padding: 1em;
        }
    }

    .footer {
        margin-top: 1em;
        padding-top: 1em;
    }
}

// Generic internal page
.weekly.citadel {
    padding-left: 6rem;

    .page.header {
        // Semantic would cancel out margin by default
        padding-top: calc(2rem - .14285em);
        > h1 {
            margin-top: 0;
        }
    }

    .footer {
        margin-top: 2em;
        padding-bottom: 2em;
    }
}

// Shared styles
.weekly.footer {
    color: @weekly-light-gray;

    &:not(:hover) a {
        color: inherit;
    }
}

.weekly.quoted {
    .quote {
        opacity: 0;
        transition: opacity @transition;
        &::before { content: '\300c'; }
        &::after { content: '\300d'; }
    }
    &:hover .quote {
        opacity: .99;
    }
}

// Semantic bugs
.ui.inverted.form {
    .ui.transparent.input {
        &, & > input {
            color: #fff;
        }
    }
}
