@import "variables";

/* External webfont declaration */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

.weekly.home {
    background: @weekly-white;
    color: @weekly-black-2;
    font-family: @weekly-fonts;

    > .sidebar {
        padding: 3em 4em;
        @media @desktop {
            position: fixed;
            top: 0; left: 0;
            padding: 4em;
            width: 25%;
        }
    }

    > .content {
        padding: 0 1em;
        @media @desktop {
            padding: 1em;
        }
    }

    > .footer {
        padding: 2em 4em;
        @media @desktop {
            position: fixed;
            left: 0; bottom: 0;
            padding: 3em 4em;
        }
    }

    .site.title {
        width: 20em;
    }

    .vendor.logo {
        width: 15em;
    }

    @media @desktop {
        padding-left: 25%;
    }
}

.weekly.term {
    font-family: @weekly-fonts;
    font-weight: 700;
    margin: 2rem 0 0;
    padding: 0 1rem;
}

.weekly.issue.card {
    background: @weekly-real-white;
    border-radius: @corner-radius;
    color: @weekly-gray;
    display: block;
    transition: color @transition;
    overflow: hidden;

    > .cover {
        background: @weekly-gray center / cover;
        display: block;
        opacity: .67;
        padding-bottom: 90%;
        transition: opacity @transition;

        &.without.image {
            padding-bottom: 40%;
        }
    }

    > .id {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 2rem;
        padding: .5rem 1rem;
    }

    &:hover {
        color: @weekly-black-1;
        > .cover {
            opacity: 1;
        }
    }
}

* {
    box-sizing: border-box;
}

html, body {
    @media @widescreen {
        font-size: 21px; /* Zoom the entire page */
    }
}

img {
    height: auto;
    max-width: 100%;
}
